.nav a{
	display: inline-block;
	color: #5a5a5a;
	background-color: ;
	font-size: 400%;
	font-family: cambria;
	font-weight: bold;
	position: fixed;
	top: 0%;
	left: 0%;
	height: 3%;
	width: 98%;
	text-transform: uppercase; 
}