#nav{
	background-color:grey;
	border-radius:10px;
	height:80px;
	padding-top: 30px;
}
#nav  ul{
	text-align: center;
	list-style-type:none;
}
#nav  ul  li{
	display:inline;
	padding-right: 60px;

}


#bandeau{
	
	border-style: solid;
	height:200px;
	width:100%;
}
#logo{
	float:left;
	height:200px;
	border-style: solid;
	border-width:1px;
	width:200px;
}
#nomdusite{

	border-style: solid;
	border-width:1px;
	width:400px;
	height:200px;
	margin-left:150px;
	margin-top:0px;
}
#nomdusite ul{
	text-align: center;
	list-style-type:none;
}
#nomdusite ul li{
	font-weight:bolder;
	padding-top:15px;
}
#agauche{
	
	height:500px;
	width:200px;
	background-color:grey;
	border-radius:15px;
	
}
#adroite{
	position:absolute;
	top:30px;
	right:30px;
	height:500px;
	width:200px;
	background-color:grey;
	border-radius:15px;
}
.onglet{
	width:150px;
	height:20px;
	background-color:grey;
	float:left;
	border-radius:15px;

}
#nomdusite{}
#rechercher{}
#annonces{}
.actus{}
#actu1{}
#actu2{}
#actu3{}
#actu4{}
#bandeaupubs{}
#pied{}
#pays{}
