#nav{
	background-color:grey;
	border-radius:10px;
	height:80px;
	padding-top: 30px;
}
#nav  ul{
	text-align: center;
	list-style-type:none;
}
#nav  ul  li{
	display:inline;
	padding-right: 40px;

}


#bandeau{
	
	border-style: solid;
	height:200px;
	width:100%;
}
#nomdusite{}
#agauche{}
#adroite{}
.onglet{}
#nomdusite{}
#rechercher{}
#annonces{}
.actus{}
#actu1{}
#actu2{}
#actu3{}
#actu4{}
#bandeaupubs{}
#pied{}
#pays{}
