html{
	height:100%;
}



body {
	margin:-2;
	padding:0;
	height:100%;
	background-color:white;
	background: url("imagedefond_fruit.jpg") no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
	
}



title {
	font-family: georgia;
	font-weight: bold;
}



#photo{
	margin-left:-2%;
	margin-right:-2%;
	margin-top:4%;
	margin-bottom: -2%;
	width: 20%;
	height: 10%;
	background-position: relative;

}


#menu ul {
	z-index: 1;
	list-style-type:none;
	position: fixed;
	margin-top: -5%;
	margin-left: -2%;
	cursor: pointer;
	color: #C3D9E0;
	border-width: 1% 0%;
	width: 105%;
	height: 10%;
	max-height: 231px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	
}
#menu ul  li {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 150%;
	font-weight: bold;
	display: inline; 
	/*en ligne*/
	background-color: #05966D;
	border: 0px;
	padding-left: 4.4%;
	padding-right: 4.4%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	display: inline-block;
}
#menu a {
	text-decoration: none;
	color: #C3D9E0; 
}
#menu ul li a:hover,
#menu ul li a:focus {
	background : #1ABC9C;
	color: #FFF;
	border: 1px solid #1ABC9C;
	border-radius: 7%;
}




#bloc1 {
	margin-left: 8%;
	margin-top: 0%;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	background-color: white;
	border: 3px solid #E00048;
	position: absolute;
	height: 15%;
	width: 80%;
}


#nom h1 {
	font-size:450%;
	font-family:georgia;
	font-style: oblique;
	margin-left:17%;
	margin-top:-0.7%;
	color:#007C32;
	position: fixed;
}


#logo{
	position:absolute;
	margin-top: -2.2%;
	margin-left:0.4%;
	height:10%;
	width:10%;
}

#nom2 {
	font-family: georgia;
	font-size: 250%;
	font-style: oblique;
	margin-top: 6.2%;
	margin-left: 20%;
	color: #007C32;
}




#bloc2 {
	margin-left: 8%;
	margin-top: 13.5%;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	background-color: white;
	border: 3px solid #E00048;
	position: relative;
	height: 140%;
	width: 81%;

}

#recherche {

	position:absolute;
	margin-top: 0%;
	margin-left:79%;
	width: 10%;
	height: 4%;
	display: inline-block;
}

#recherche .barre {
	font-family: Bookman Old Style, serif;
	font-size: 100%; 
	position: absolute;
	margin-top: -20%;
	margin-left: -46%;
	width: 200%;
	min-height: 70%;
	max-height: 140%;
	display: inline-block;
	border: 2% solid gray;
}

#recherche .bouton {

	font-family: Bookman Old Style, serif;
	font-size: 80%;
	font-style: normal;
	color: #555;
	background-color: #fff;

	padding: 0;
	margin-top: -20%;
	margin-left: 155%;
	position: absolute;
	height: 70%;
	width: 30%;
	border-radius: 10%;

	cursor: pointer;
	text-transform: capitalize;	
	box-shadow: 5% 5% 8% #aaa;
}




#menu_vertical ul {
	position: relative;
	width: 20%;
	list-style-type: none; /*supprime les puces de la liste*/
	margin-left: -6.3%;
	margin-top: -2.6%; 
	color: #C3D9E0;
	box-shadow: 3% solid gray;
	cursor: pointer;
	border-bottom-width: 0px;
	border-top-width: 0px;

}

.menu2,
.menu2 a {
	display: block;
}

#menu_vertical ul li {
	display: block;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 150%;
	font-style: oblique;
	margin-top: 1%;
	margin-left: 1%;
	padding-left: 10%; 
	padding-right: 10%;
	padding-top: 8%;
	padding-bottom: 8%;
	background-color: #05966D;
	border: 1px solid #1ABC9C;
	border-radius: 6%;
	
}

.menu2 a {
	text-decoration: none;
	color: #C3D9E0; 
	margin: 2%;
}

.menu2 a:hover,
.menu2 a:focus {
	background-color: #1ABC9C;
	color: #FFF;
	padding-left: 3%;
	padding-right: 35%;
	padding-top: 2%;
	padding-bottom: 2%;
	border: 1px solid #1ABC9C;
	border-radius: 6%;

}







#bloc3 {
	margin-left: 2.25%;
	margin-top: 7%;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	background-color: white;
	border: 3px solid #E00048;
	position: relative;
	height: 12%;
	width: 92%;

}

#newsletter{
	position: absolute;
	margin-left: -1%;
	margin-top: -2%;
	border:0px;
	padding: 0%;
	color:#05966D;
	width: 20%;
	height: 15%;

}

#newsletter .text{
	position: relative;
	margin-top: 2%;
	margin-right: 2%;
	color: black;
	font-family: Bookman Old Style, serif;
	font-size: 100%; 
	width: 20%;
	max-width: 40%;
	height: 10%;
	border : 3px solid gray;
	border-radius: 10%;
}

#newsletter .submit {
	position: relative;
	margin-top: 3.5%;
	margin-left: 2%;
	width: 20%;
	height: 10%;
	color: black;
	font-family: Bookman Old Style, serif;
	font-size: 100%;
	border : 3px solid gray;
	border-radius: 10%;
	cursor: pointer;
	text-transform: capitalize;	
	box-shadow: 5% 5% 8% #aaa;
}




#revue {
	position: relative;
	margin-top: -2%;
	margin-left: 25%;
	border: 0px;
	padding : 0%;
	color : #05966D;
	width: 20%;
	height: 15%;
}

p .titre_footer1 {
	color:#05966D;
	font-size:250%;
	font-family: georgia;
	font-style: bold;

}

p .titre_footer2 {
	color:#05966D;
	font-size:250%;
	font-family: georgia;
	font-style: bold;

}






body{
	background-image: url(bhjpg);

}

