p1{
font-size:50px;
font-family:"OpenSansbold";
margin-left:23%;
margin-top:30%;
color:#363636;
padding-top:30%;
}

#soustitre{
	font-size:17px;

	background-color: #C0C0C0;
	text-align:center;
	color:white;
	height:20px;
}

#ligne{
	margin-top:0%;
	opacity:0.5;
	margin-left:-1,5%;
	margin-right:3%;
    width:202px;

}

#lign{
	margin-top:0%;
	opacity:0.5;
	margin-left:12%;
	margin-right:9%;
}

#h{
margin: -8px 0px 0px 1px;
list-style-type: none;
margin: 0px;
padding: 0px;
width: 200px;
}

h3{
	font-family:"Trebuchet MS";
	color:#363636;
	margin-left:23%;
	font-size:20px;
}



nav  ul{
	text-align: center;
	list-style-type:none;
position: fi
}
nav  ul  li{
	font-family: "itcbold";
	font-weight:bold;
	
	display:inline; 
	/*en ligne*/
	
	border:1px solid black;
	padding-left:27px;
	padding-right:27px;
	padding-top: 10px;
	padding-bottom: 10px;

}

nav{
	font-family: "OpenSansbold";
	margin-left:6.2%;
margin-top: 0%;
	z-index:1;
	color:#363636;
	
	width:99%;
	background-color:;
	cursor: pointer;

<<<<<<< HEAD
	
	
=======
	;
	height:10%;
	
	
>>>>>>> origin/master
	font-family:"OpenSansbold";
}

#menu{
	margin: 6px 0px 0px;
padding: 5px 0px 0px 10px;
width: 156px;
max-height: 231px;

font-size: 12px;
}

#pos{
	margin-left:12%;
	margin-top:0%;
}

#mot{
	font-family:"OpenSansbold";
	color:white;
	font-weight:bold;
	background-color:#FFFAFA;
	font-size:17px;
	height:20px;
	text-align:center;

}



#connex{
margin-left:10%;
font-family:"OpenSansbold";
font-size:17px;
font-weight:bold;


}

#connex1{
margin-left:-1,5%;
font-family:"OpenSansbold";
font-size:17px;
font-weight:bold;


}

#ligne2{
	margin-top:0px;
}

#co{
	background-color:#98FB98;
	color:white;
	height:34px;
	font-weight:bold;
	width:100%;
	padding-bottom:0px;

	
}

#posi{
	float: right;
	
	margin-right:15%;
	margin-top:-25.1%;
	cursor: pointer;
}
#posi2{
	float: right;
	
	margin-top:-24.9%;
	margin-right:8%;
	cursor: pointer;
	
}



#recherche{

	position:absolute;
	margin-left:45%;
	margin-top:-30%;

	

	
	
}



#gauche{
	font-weight:bold;
	font-size:15px;

	padding-left: 6%;
}

table{
	width:200px;
	
}



#connexion{
font-family :Georgia ;
color :#222 ;
position:absolute;
margin-top:4%;
margin-right: 2%;
margin-left: 74%;
font-weight:bold;
}
h4{
	color:#006400;  /*color:#7BB*/
	font-size:20px;
	font-family: "Tahoma"; /*Rockwell Bold*/
	font-style: underline;
	text-decoration: underline;

}
#mag{
	position:absolute;
margin-top:43%;
margin-right: 2%;
margin-left: 11%;
border:1px solid black;
	background-color: "gray";
	position: absolute;
	padding-top:-45%;
	padding-right:1.4%;
	padding-left: 2%;
}
 #ba{
 	position:absolute;
margin-top:-4%;
margin-left:10%;
 }

#liste {
	position: absolute;
	
	

}

#bordureg{
	border:1px solid black;
	background-color: "gray";
	position: absolute;
	padding-top:2%;
	padding-right:2%;
	padding-left: 2%;
	padding-bottom: 2%; 
	margin-left:7.8%;
	margin-top:3%;
	

}
#bo{
	border:1px solid black;

}



#oubli{
	color:#999;
	font-size:12px;
}


#newsletter{
	position:absolute;
	margin-left: 11%;
	margin-top:30%;
	border:1px solid black;
	background-color: "gray";
	position: absolute;
	padding-top:-45%;
	padding-right:1%;
	padding-left: 1%;

}

#contenuaccueil{
	font-family:"trebuchet MS";
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	margin-top: 5%;
	margin-left: 29%;
	border:1px solid black;
	background-color: "gray";
	position: absolute;
	padding-top:-45%;
	padding-right:1%;
	padding-left: 1%;
	padding-bottom: 4%;


}

#connex{
	font-family :Georgia ;
color :#222 ;
position:absolute;
margin-top: 9%;
	margin-left: 45%;
	border:1px solid black;
	background-color: "gray";
	position: absolute;
	padding-top:-45%;
	padding-right:1%;
	padding-left: 1%;

}

#ecriture{
	font-family:"Verdana";
	font-size: 13px;
	font-weight: bold;
}

body{
	background-image: url(bhjpg);

}

#vertt{
	background-color: #98FB98;
}
#contenuaccueilfruit{
	font-family:"Verdana";
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	margin-top: 5%;
	margin-left: 29%;
	
	


}
