.contener_slideshow
{
  margin-left: 25%;
  margin-top: -39.1%;
  width:57.2%;
  height:438px;
  overflow: hidden;
  position: relative;
  background-image: url(YOUR-URL-IMAGE.png);
}
.slid_1, .slid_2, .slid_3
{
  position: absolute;
  width:40.2%;
  height:438px;
}
.slid_1{left: 0;}
.slid_2{left: 57.2%;}
.slid_3{left: 114.5%;}
.contener_slide
{
  width: 114.5%;
  height: 438px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 5s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-57.2%;}
  45% {left:-57.2%;}
  66% {left:-114.4%;}
  90% {left:-114.4%;}
}
@-moz-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-57.2%;}
  45% {left:-57.2%;}
  66% {left:-114.4%;}
  90% {left:-114.4%;}
}
@-ms-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-57.2%;}
  45% {left:-57.2%;}
  66% {left:-114.4%;}
  90% {left:-114.4%;}
}
@keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-57.2%;}
  45% {left:-57.2%;}
  66% {left:-114.4%;}
  90% {left:-114.4%;}
}
body {
	background-image:url("http://www.google.fr/url?source=imglanding&ct=img&q=http://www.tao-mieux-etre.fr/web_images/pamplemousse-muffetflickr-cc.jpg&sa=X&ei=KadsVazYBMi1UbiwgNgM&ved=0CAkQ8wc4pgI&usg=AFQjCNHYb0JLWZ968Qpg9VzUwsZocn0uWQ");
	background-attachment:fixed;
	background-size: cover; 
}



title {
	font-family: georgia;
	font-weight: bold;
}

#connexion{
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-weight: bold;
	position:absolute;
	margin-left:77%;
	margin-top:-2%;
	padding:30%,20%,30%,20%;
	width:7%;
	height:5%;
	color: #C3D9E0;
}

#connexion a { color: black; text-decoration: none; }

#inscription a { color: black; text-decoration: none; }

#connexion a:hover  { color: transparent; text-decoration: none; cursor: pointer; }

#inscription a:hover { color: transparent;  text-decoration: none;}

#inscription{
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-weight: bold;
	position:absolute;
	margin-left:85%;
	margin-top:-2%;
	padding:30%,20%,30%,20%;
	width:7%;
	height:5%;
	color: #C3D9E0;

}
#connex {
	padding:1%;
	background-color: #F8001D; 
	color: #FCD2D7;
	position:absolute;
	width:22%;
	height:22%;
	margin-left:77%;
	margin-top:-70%;

}
#connex h4{
	margin-top:-1%;
	text-align:center;
	text-decoration:none;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-weight: bold;
}
#valider {
	text-align:center;
}
#pseudo{
	margin-left:25%;
	position:absolute;
	width: 40%;
}
#mdp{
	margin-top:0%;
	margin-left:12%;
	position:absolute;
	width: 40%;
}
#oubli{
	margin-left:50%;
	margin-top:-5%;
}
#oubli a{
	font-size:50%;
	text-decoration: none;
	color:#C3D9E0;
}
#oubli a:hover { color: white;  text-decoration: none; font-size:75%; margin-left:-11%;}





#menu{
	z-index: 1;
	position:fixed;
}

#menu ul {
	position:fixed;
	
	list-style-type:none;
	margin-top:-11%;
	margin-left: -4%;
	cursor: pointer;
	color: #F67887;
	width: 125%;
	height: 10%;
	max-height: 231px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	
}
#menu ul  li {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 140%;
	font-weight: bold;
	display: inline; 
	/*en ligne*/
	background-color: #F8001D;
	border: 0px;
	padding-left: 4.4%;
	padding-right: 4.4%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	display: inline-block;
}
#menu a {
	text-decoration: none;
	color: #FCD2D7; 
	
}
#menu ul li a:hover,
#menu ul li a:focus, #connexion a:hover,#inscription a:hover,#inscription a:focus, connexion a:focus {
	background : #DE001A;
	color: #FCC7CD;
	border: 1px solid #DE001A;
	border-radius: 7%;
}




#bloc1 {
	margin-left: 8%;
	margin-top: 10%;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	background-color:rgba(0, 0, 0, 0.65);
	position: relative;
	height: 16%;
	width: 81%;
}

#bloc2 {
	position: relative;
	margin-left: 35.8%;
	margin-top: -42%;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	background-color:rgba(0, 0,0, 0.65);
	height: 491px;
	width: 57.2%;
}



#bloc3 {
	margin-left: 8%;
	margin-top: 3%;
	padding-top: 2%;
	margin-bottom:1%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	background-color:rgba(0, 0,0, 0.65);
	position: relative;
	height: 12%;
	width: 81%;

}
#nom h1 {
	font-size:450%;
	font-family:georgia;
	font-style: oblique;
	margin-left:20%;
	margin-top:-1%;
	color:#FEE2E7;

	
}


#logo{
	
	position:absolute;
	margin-top: -11.9%;
	margin-left:-1.1%;
	height:10%;
	width:10%;
}

#nom2 {
	font-family: georgia;
	font-size: 250%;
	font-style: oblique;
	margin-top: -6%;
	margin-left: 20%;
	color: #FEE2E7;
}


#recherche {

	position:absolute;
	margin-top: 0%;
	margin-left:73%;
	width: 10%;
	height:5%;

}

#recherche .barre {
	font-family: Bookman Old Style, serif;
	font-size: 100%; 
	position: absolute;
	margin-top: -20%;
	margin-left: -46%;
	width: 200%;

	display: inline-block;
	border: 2% solid gray;
}

#recherche .bouton {
	font-family: Bookman Old Style, serif;
	font-size: 60%;
	font-style: bold;
	color: black;
	background-color: #fff;
	margin-top:-20%;
	margin-left: 155%;
	position: absolute;
	height: 101%;
	width: 30%;
	cursor: pointer;
	text-align:center;
	padding-right:30%;
}




#menu_vertical ul {
	position: relative;
	width: 28%;

	list-style-type: none; /*supprime les puces de la liste*/
	margin-left: 4.8%;
	margin-top: 5%; 
	color: #FCD2D7;
	box-shadow: 3% solid gray;

	
}

.menu2,
.menu2 a {
	display: block;
}

#menu_vertical ul li {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 150%;
	font-weight: bold;
	display: block;
	padding-left: 10%; 
	padding-right: 10%;
	padding-top: 8%;
	padding-bottom: 8%;
	background-color: #F8001D;	
}

.menu2 a {
	text-decoration: none;
	color: #FCD2D7; 
	margin: 2%;
}

.menu2 a:hover, .menu2 a:focus {
	background-color: #DE001A;
	color: #FCC7CD;	
	border: 1px solid #DE001A;
	border-radius: 6%;

}


/*le css du formulaire et du bloc contenant toutes les infos des autres pages*/
#contenuaccueil{
	padding:3%;
	padding-top:1%;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	background-color:rgba(0, 0,0, 0.0);
	overflow:auto;
	position:absolute;
	height:50%;
	width:51%;
	margin-top:-50%;
	margin-left: 34%;
	font-weight: bold;
	color: #C3D9E0;
}

#contenuaccueil a {
	text-decoration: underline;
	color : #C3D9E0;
}





#discussion {
	padding:3%;
	padding-top:1%;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	background-color:rgba(0, 0,0, 0.0);
	overflow:auto;
	position:absolute;
	height:50%;
	width:51%;
	margin-top:-46%;
	margin-left: 32.5%;
	font-weight: bold;
	color: #C3D9E0;
}

#discussion input {
	box-shadow: 5px;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

#discussion textarea {
	position: relative;
	right: 50%;
}






#newsletter{
	position: absolute;
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: 135%;
	margin-left: -1%;
	margin-top: -2%;
	border:0px;
	padding: 0%;
	color: #FCC7CD;
	width: 20%;
	height: 15%;

}

#newsletter .text{
	position: relative;
	margin-top: 2%;
	margin-right: 2%;
	color: black;
	font-family: Bookman Old Style, serif;
	font-size: 100%; 
	width: 20%;
	max-width: 40%;
	height: 10%;
	border : 3px solid gray;
	border-radius: 10%;
}

#newsletter .submit {
	position: relative;
	margin-top: 3.5%;
	margin-left: 2%;
	width: 20%;
	height: 10%;
	color: black;
	font-family: Bookman Old Style, serif;
	font-size: 100%;
	border : 3px solid gray;
	border-radius: 10%;
	cursor: pointer;
	text-transform: capitalize;	
	box-shadow: 5% 5% 8% #aaa;
}




#revue {
	position: relative;
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: 135%;
	margin-top: -2%;
	margin-left: 25%;
	border: 0px;
	padding : 0%;
	color : #FCC7CD;
	width: 20%;
	height: 15%;
}





footer{
	margin-left:35%;
	margin-top: -2%;
	width:25%;
	border:none;
	position:relative;	
	padding-top:-5%;
}
footer ul li{
	list-style: none;
}

footer ul li a {
	text-decoration: none;
	color: #FCC7CD;
}


/*CSS contact */
article legend {
  color:#1E824C;
  font-size:40px;
  margin:3% auto;
  width:280px;
  
}

.titre_contact {
  color:#1E824C;
  font-size:40px;
  padding-left:40%;
}
.contact_input {
  background-color:#ECECEC;
  font-size:26px;
  height:30px;
  margin-left:10%;
  width:400px;
}
#message{
	margin-left:56%;
}
element.style {
  margin-right:-15px;
}
.contact_sujet {
  background-color:#ECECEC;
  height:50px;
  margin-left:10%;
  width:400px;
}
#cadre_1 input, textarea{
	margin-left:590px;
	margin-top:10px;
}
#cadre_1 {
	width:400px;
}
#cadre_1 input, textarea, select {
  border:1px solid rgba(255, 255, 255, 0.74902);
  border-radius:5px;
  padding:3px;
  width:200px;
}
#cadre_1 input, textarea, select, option {
  background-color:#ECECEC;
}
#envoyer {
  background-color:#1E824C;
  color:white;
  font-size:25px;
  height:50px;
  margin-left:56%;
  margin-top:10px;
  width:20%;
}
#cadre_contact{
	position:relative;
	margin-top:-50%;
}
/* Fin CSS Contact*/
/*début quisommesnous*/
#quisommesnous{
	position:relative;
	margin-top:-52%;
	margin-left:30%;
}
#quisommesnous p{
	color:white;
/*fin quisommesnous*/
}



/* style formulaire annonce.php */
/*#annonce{
	overflow:auto;
	position: absolute;
	left:35%;
	top:55%;
	height:58%;
	width: 45%;
}
*/

#annonce{
	padding:3%;
	padding-top: 0%;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	background-color:rgba(0, 0,0, 0.0);
	overflow:auto;
	position:absolute;
	height:55%;
	width:51%;
	margin-top:-50.5%;
	margin-left: 32%;
	font-weight: bold;
	color: #C3D9E0;
}
#annonce textarea{
	position: relative;
	right: 50%;
}
#annonce label{
	display: block;  /*aligner les cases formulaire*/
	width: 50%;
	float: left;
}
#annonce label input {
	margin-left: 35%;
}
/*
#sauver {
	float:right;
}
*/

/*fin style annonce.php*/
 
/* annonce_vue.php*/

#annoncecadre{
	font-size: 100%;
	font-family: georgia ;
	background-color: #80F030;
	position:relative;
	top:30%;
	left:40%;
	border-style: inset;
	border-color: #FF0000;
	border-width: 10px;
	width:40%;
}
#annonce_gauche{
	position: relative;
	bottom:20%;
	left:5%;
}
#annoncecadre img{
	max-width: 100%;
	height: auto;
}
#annonce_droite{
	position: relative;
	top:10%;
	left:55%;
	background-color: #00B000;
	width: 40%;
	border-radius: 10%;
}
#titreannonce{
	font-weight: bold;
}




